* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
}

body {
    background-color: aqua;
}

.conteiner {
    font-size: 1.2rem;
    width: 400px;
    display: flex;
    margin: 40px auto;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}
